#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .imagem {
    display: none;
  }
  .textos {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../public/icon/gatinhomobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
  }
}
