.form {
  background-color: #2f2841;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  position: absolute;
  width: 461px;
  height: 600px;
  left: 836px;
  top: 214px;
  margin-left: 26px;
}

.form input {
  height: 40px;
  width: 350px;
  border-radius: 10px;
  background: rgba(213, 217, 210, 0.1);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-bottom: 89px;
  padding: 20px;
}

form input {
  border: none;
  font-family: "Cuprum";
  font-size: 26px;
}

form label {
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-right: 270px;
  vertical-align: top;
  padding: 3px;
}

form label {
  font-size: 26px;
  font-family: "Cuprum";
}

form button {
  height: 65px;
  width: 400px;
  border-radius: 10px;
  margin-top: -100px;
  background: #ff53f9;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1px;
}

form button {
  text-align: center;
  font-size: 35px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  color: #201b2c;
}

h1 {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 74px;

  color: #ff53f9;
}

@media screen and (max-width: 769px) {
  .form {
    position: absolute;
    background-color: transparent;
    border-radius: 0%;
    position: relative;
    top: -120px; /* altere o valor para ajustar a posição vertical do form */
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  form h1 {
    font-size: 6em;
    margin: 0;
    margin-bottom: 4.6875rem;
  }

  form input {
    background: rgba(217, 217, 217, 0.16);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.4);
    border-radius: .625rem;
    color: rgba(255, 255, 255, 0.4);
  }
  .form input {
    height: 40px;
    width: 360px;
    border-radius: 10px;
    background: rgba(213, 217, 210, 0.1);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-bottom: 120px;
    padding: 30px;
  }
}

@media screen and (max-width: 427px) {
  .form {
    position: absolute;
    background-color: transparent;
    border-radius: 0%;
    position: relative;
    top: -7rem; /* altere o valor para ajustar a posição vertical do form */
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .form input {
    height: 2.5rem;
    width: 21.125rem;
    margin-right: 3.125rem;
    border-radius: .625rem;
    background: rgba(213, 217, 210, 0.1);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-bottom: 6.25rem;
    padding: 1.875rem;
  }

  form button {
    height: 60px;
    width: 24.875rem;
    margin-right: 50px;
    border-radius: 10px;
    background: #ff53f9;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1.875rem;
  }
  form button {
    font-size: 36px;
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    line-height: 4px;
    color: #201b2c;
  }
}