.form {
  background-color: #2f2841;
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  position: absolute;
  width: 461px;
  height: 600px;
  left: 836px;
  top: 214px;
  margin-left: 26px;
}

.form input {
  height: 40px;
  width: 350px;
  border-radius: 10px;
  background: rgba(213, 217, 210, 0.1);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-bottom: 89px;
  padding: 20px;
}

form input {
  border: none;
  font-family: "Cuprum";
  font-size: 26px;
}

form label {
  display: inline-block;
  width: 100px;
  text-align: left;
  margin-right: 270px;
  vertical-align: top;
  padding: 3px;
}

form label {
  font-size: 26px;
  font-family: "Cuprum";
}

form button {
  height: 65px;
  width: 400px;
  border-radius: 10px;
  margin-top: -100px;
  background: #ff53f9;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1px;
}

form button {
  text-align: center;
  font-size: 35px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  color: #201b2c;
}

h1 {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 74px;

  color: #ff53f9;
}

@media screen and (max-width: 769px) {
  .form {
  position: absolute;
  background-color: transparent;
  border-radius: 0%;
  position: relative;
  top: -7.5rem; /* altere o valor para ajustar a posição vertical do form */
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  form h1 {
  font-size: 3.75rem;
  margin: 0;
  margin-bottom: 3.125rem;
  }
  
  form input {
  background: rgba(217, 217, 217, 0.16);
  box-shadow: 0px 0.4375rem 0.3125rem rgba(0, 0, 0, 0.4);
  border-radius: 0.625rem;
  color: rgba(255, 255, 255, 0.4);
  }
  .form input {
  height: 2.5rem;
  width: 22.5rem;
  border-radius: 1.6rem;
  background: rgba(213, 217, 210, 0.1);
  box-shadow: 0px 0.4375rem 0.3125rem rgba(0, 0, 0, 0.2);
  border-radius: 1.6rem;
  margin-bottom: 7.5rem;
  padding: 1.875rem;
  }
  }
  
  @media screen and (max-width: 427px) {
  .form {
  position: absolute;
  background-color: transparent;
  border-radius: 0%;
  position: relative;
  top: -4.375rem; /* altere o valor para ajustar a posição vertical do form */
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  .form input {
  height: 2.5rem;
  width: 21.125rem;
  margin-right: 3.125rem;
  border-radius: 0.625rem;
  background: rgba(213, 217, 210, 0.1);
  box-shadow: 0px 0.4375rem 0.3125rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 3.75rem;
  padding: 1.875rem;
  }
  
  form button {
  height: 3.75rem;
  width: 24.875rem;
  margin-right: 3.125rem;
  border-radius: 1.6rem;
  background: #ff53f9;
  box-shadow: 0px 0.4375rem 0.3125rem rgba(0, 0, 0, 0.25);
  border-radius: 1.6rem;
  padding: 1.875rem;
  }
  form button {
  font-size: 2.25rem;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  line-height: 0.25rem;
  color: #201b2c;
  }
  }


@media screen and (max-width: 390px) {
  .form {
  position: absolute;
  background-color: transparent;
  border-radius: 0%;
  position: relative;
  top: -1rem; /* altere o valor para ajustar a posição vertical do form */
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.2);
  }
  .form input {
  height: 1.5rem;
  width: 16.125rem;
  margin-right: 0.3125rem;
  border-radius: 0.625rem;
  background: rgba(213, 217, 210, 0.1);
  box-shadow: 0rem 0.4375rem 0.3125rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 3.25rem;
  padding: 1.875rem;
  }
  
  form button {
  height: 4rem;
  width: 19.875rem;
  margin-right: 1.25rem;
  border-radius: 1rem;
  background: #ff53f9;
  box-shadow: 0rem 0.4375rem 0.3125rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1.875rem;
  }
  form button {
  font-size: 2rem;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  line-height: 0.125rem;
  color: #201b2c;
  }
  form h1 {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  margin-right: 0.3125rem;
  color: #ff53f9;
  }
  
  form label {
  display: inline-block;
  width: 6.25rem;
  text-align: left;
  margin-right: 12.5rem;
  vertical-align: top;
  padding: 0.1875rem;
  }
  
  form label {
  font-size: 1.375rem;
  font-family: "Cuprum";
  }
  
  }